/*
 *  Objects - List
 */

// Object for lists without bullets.


@use 'sass:list';
@use 'sass:map';
@use 'node_modules/@substructure/settings';
@use 'node_modules/@substructure/tools';


$spacing: list.nth(
  settings.$spacing-sizes, 2
) !default;

$element-separator: '__' !default;

$modifier-separator: '--' !default;

$namespace: #{
  map.get( settings.$layer-namespaces, 'objects' ) +
  'list' 
} !default;


$_class-item: #{
  $namespace + 
  $element-separator +
  'item'
};

$_class-inline: #{ 
  $namespace +
  $modifier-separator +
  'inline'
};


.#{ $namespace } {

  list-style: none;
  margin-left: 0;

}

.#{ $_class-inline } {
  
  > #{ $_class-item } {
    display: inline-block;
  }

  > #{ $_class-item }:not(:last-child) {
  
    @include tools.spacing(
      right, $spacing
    )
  
  }

}
