/*
 *  Objects - Box
 */

// Object to box off content.


@use 'sass:list';
@use 'sass:map';
@use 'node_modules/@substructure/settings';
@use 'node_modules/@substructure/tools';


$spacing: list.nth(
  settings.$spacing-sizes, 2
) !default;

$spacing-sizes: settings.$spacing-sizes !default;

$modifier-separator: '--' !default;

$namespaces: () !default;

$namespaces: map.merge(
  (
    main: #{
      map-get(settings.$layer-namespaces, objects) +
      'box'
    },
    flush: 'flush'
  ),
  $namespaces
);


$_class: map.get( $namespaces, main ) !default;


// Base

.#{ $_class } {
  @include tools.clearfix();
  display: block;
  padding: $spacing;

  > :last-child {
    margin-bottom: 0;
  }

}


// Variants

.#{
  $_class +
  $modifier-separator +
  map.get( $namespaces, flush )
} {

  @include tools.spacing(
    all, 0, padding
  )

}

@each $size-value in $spacing-sizes {

  @if $size-value != $spacing {

    .#{
      $_class +
      $modifier-separator +
      list.index( 
        $spacing-sizes,
        $size-value
      )
    } {

      @include tools.spacing(
        all, $size-value, padding
      )

    }

  }

}
