/**
 *  Settings - Global
 */


$responsive: true !default;


$breakpoints: (
  tablet  : "screen and ( min-width: 768px )",
  desktop : "screen and ( min-width: 1000px )"
) !default;


$sizing-unit: 8px !default;


$spacing-sizes: (
  tiny   : $sizing-unit,
  small  : $sizing-unit * 2,
  large  : $sizing-unit * 4
  huge   : $sizing-unit * 8
) !default;


$text-size-normal: 16px !default;


// Defines large text sizes for headings and utilities.
// Order from smallest to largest.

$text-sizes-large: (
  medium:   $text-size-normal * 1.25,
  large:    $text-size-normal * 1.5,
  huge:     $text-size-normal * 2,
  gigantic: $text-size-normal * 3,
  enormous: $text-size-normal * 4,
) !default;


// Defines the default line height.
// Use unitless values.

$line-height-normal: 1.5 !default;


// Defines the default breakpoint separator.

$breakpoint-separator: \/ !default;


// Defines the ITCSS layer namespaces.

$layer-namespaces: (
  objects    : 'o-',
  utilities  : 'u-',
  components : 'c-'
) !default;
