/*
 *  Utilities - Text Sizing
 */


@use 'sass:list';
@use 'sass:map';
@use '../settings';
@use '../tools';


$text-size-normal-base: settings.$text-size-normal-base !default;

$text-sizes-large: settings.$text-sizes-large !default;

$text-sizes-small: settings.$text-sizes-small !default;

$line-height-normal: settings.$line-height-normal !default;

$line-height-large: settings.$line-height-large !default;

$namespaces: () !default;

$namespaces: map.merge(
  (
    normal: #{
      map.get( settings.$layer-namespaces, utilities ) +
      'text-normal'
    },
    large: #{
      map.get( settings.$layer-namespaces, utilities ) +
      'text-large-'
    },
    small: #{
      map.get( settings.$layer-namespaces, utilities ) +
      'text-small-'
    }
  ),
  $namespaces
);


.#{ map.get( $namespaces, normal ) } {

  @if settings.$custom-properties {
    font-size:  var(--text-size-normal-base) !important;
    @if settings.$sizing-fluid != false {
      font-size: var(--text-size-normal) !important;
    }
  }
  @else {
    font-size: $text-size-normal-base !important;

    @if settings.$sizing-fluid != false {
      font-size: $text-size-normal !important;
    }
  }
  line-height: $line-height-normal !important;

}

@each $size-value in $text-sizes-large {

  $_length: list.length($text-sizes-large );

  $_index: list.index($text-sizes-large, $size-value );

  .#{ map.get( $namespaces, large ) }#{ $_index} {

    @if settings.$custom-properties {
      font-size: var(--text-size-large-#{$_index}-base) !important;
    }

    @else {
      font-size: $size-value !important;
    }

    @if settings.$sizing-fluid !=false {
      @if settings.$custom-properties {
        font-size: var(--text-size-large-#{$_index}) !important;
      }

      @else {
        font-size: list.nth($text-sizes-large-fluid,
            $_index ) !important;

      }

    }

    @include tools.spacing(bottom,
      list.nth(settings.$spacing-sizes, 2),
      margin,
      true
    );

    line-height: $line-height-large !important;

  }

}

@each $size-value in $text-sizes-small {

  $_index: list.index(
    $text-sizes-small, $size-value
  );

  .#{ map.get( $namespaces, small ) }#{ $_index } {

    @if settings.$custom-properties {
      font-size:  var(--text-size-small-#{$_index}-base) !important;
    }
    @else {
      font-size: $size-value !important;
    }

    @if settings.$sizing-fluid != false {
      @if settings.$custom-properties {
        font-size: var(--text-size-small-#{$_index}) !important;
      }
      @else {
        font-size: list.nth(
          $text-sizes-large-fluid,
          $_index
        ) !important;

      }

    }

    @include tools.spacing(bottom,
      list.nth(settings.$spacing-sizes, 2),
      margin,
      true
    );

    line-height: $line-height-normal !important;

  }

}
