/*
 *  Utilities - Spacing
 */


@use 'sass:map';
@use 'node_modules/@davidbwaters/settings';


$spacing-sizes: settings.$spacing-sizes !default;

$directions: (
  all: '',
  vertical: '-vertical',
  horizontal: '-horizontal'
  top: '-top',
  bottom: '-bottom', 
  left: '-left', 
  right: '-right',
) !default;

$responsive: settings.$responsive !default;

$breakpoints: settings.$breakpoints !default;

$breakpoint-separator: 
  settings.$breakpoint-separator 
!default;

$namespace: #{
  map.get(settings.$namespaces, utilities) +
  'spacing-'
} !default;


@each $spacing-size, $spacing-size-value in $spacing-sizes {

  .#{$namespace}#{$spacing-size} {
    
  }
    
}

@if $responsive {
  
  @each $breakpoint, $breakpoint-value in $breakpoints {
    
    
    
  }
  
}
