/*
 *  Utilities - Layout - Display
 */

@use 'sass:map';
@use 'core';
@use '../settings';
@use '../tools';

$_display-props: (
  inline,
  block,
  inline-block,
  grid,
  inline-grid,
  flex,
  inline-flex
) !default;

@each $prop in $_display-props {
  .#{ map.get(core.$namespaces, display) + $prop } {
    display: $prop !important;
  }
}

@if core.$responsive {
  @each $breakpoint, $breakpoint-value in core.$breakpoints
  {
    @include tools.respond-to(
      $breakpoint,
      core.$breakpoints
    ) {
      @each $prop in $_display-props {
        .#{
          map.get(core.$namespaces, display)
          + $prop
          + core.$breakpoint-separator
          + $breakpoint
          } {
          display: $prop !important;
        }
      }
    }
  }
}
