/*
 *  Utilities - Layout - Hidden
 */

@use 'sass:map';
@use 'core';
@use '../settings';
@use '../tools';

.#{ map.get(core.$class-names, hidden) } {
  display: none !important;
  visibility: hidden !important;
}

@if core.$responsive {
  @each $breakpoint, $breakpoint-value in core.$breakpoints
  {
    @include tools.respond-to(
      $breakpoint,
      core.$breakpoints
    ) {
      .#{
        map.get(core.$class-names, hidden) +
        core.$breakpoint-separator +
        $breakpoint
      } {
        display: none !important;
        visibility: hidden !important;
      }

    }
  }
}

.#{ map.get(core.$class-names, transparent) } {
  opacity: 0 !important;
}
