/*
 *  Utilities - Layout - Position
 */


@use 'sass:map';
@use 'core' as *;
@use '../settings';
@use '../tools';


$_positionProps: (
  absolute,
  relative,
  fixed,
  sticky
) !default;


@each $prop in $_positionProps {

  .#{
    map.get($namespaces, position) + $prop
  } {
    position: $prop !important;
    @if $prop == 'sticky' {
      top: 0;
    }
  }

}

.#{
  map.get($namespaces, top) + '0'
} {
  top: 0;
}

.#{
  map.get($namespaces, inset) + '0'
} {
  inset: 0;
}
