/*
 *  Objects - Layout
 */

// Object layout content

@use 'sass:list';
@use 'sass:map';
@use '../settings';
@use '../tools';

$spacing-sizes: settings.$spacing-sizes !default;

$spacing-prefix: 'spacing-' !default;

$gap-prefix: 'gap-' !default;

$element-separator: settings.$element-separator !default;

$modifier-separator: settings.$modifier-separator !default;

$namespaces: () !default;

$namespaces: map.merge(
  (
    main: #{map-get(settings.$layer-namespaces, objects) +
      'layout'},
    cell: 'cell'
  ),
  $namespaces
);

$_class: map.get($namespaces, main);

$_cell-class: #{$_class + $element-separator +
  map.get($namespaces, cell)};

$_alignment-values: (
  top: 'start',
  middle: 'center',
  bottom: 'end',
  y-between: 'space-between',
  y-around: 'space-around',
  y-stretch: 'stretch'
);

$_justify-values: (
  left: 'start',
  center: 'center',
  right: 'end',
  x-between: 'space-between',
  x-around: 'space-around',
  x-stretch: 'stretch'
);

// Base

.#{ $_class } {
  display: grid;
  grid-auto-flow: row;
  list-style: none;
  padding: 0;
}

.#{ $_cell-class } {
  width: 100%;
}

// Gutters

@each $size-value in $spacing-sizes {
  $index: list.index($spacing-sizes, $size-value);

  .#{
    $_class
    + $modifier-separator
    + $spacing-prefix
    + $index
  } {
    @include tools.spacing('all', $size-value, 'padding');
  }

  .#{
    $_class
    + $modifier-separator
    + $gap-prefix
    + $index
  } {
    gap: $size-value;
  }

}

// Automatic Width

.#{ $_class }--auto {
  > .#{ $_cell-class } {
    flex: 1 0 0;
  }
}

// Horizontal Alignment

@each $namespace, $value in $_justify-values {
  .#{ $_class + $modifier-separator + $namespace } {
    justify-content: #{$value};
  }
}

// Pull Behavior

.#{ $_class + $modifier-separator + 'pull-right' } {
  margin-right: auto;
}

.#{ $_class + $modifier-separator + 'pull-left' } {
  margin-left: auto;
}

// Vertical Alignment

@each $namespace, $value in $_alignment-values {
  .#{ $_class + $modifier-separator + $namespace } {
    align-items: #{$value};
  }

  .#{ $_cell-class + $modifier-separator + $namespace } {
    align-self: #{$value};
  }
}

// Content Distribution

.#{ $_class + $modifier-separator + 'column' } {
  grid-auto-flow: column;
}


.#{ $_class + $modifier-separator + 'dense' } {
  grid-auto-flow: dense;
}
