//
//  Settings - Core
//

@use 'sass:list';
@use 'sass:map';
@use 'sass:math';

// Enables responsive framework features.

$responsive: true !default;

// Enables max-width breakpoints.

$max-breakpoints: false !default;

// Defines the default breakpoints
// Set in pixels.

$breakpoint-sizes: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1200px
) !default;

// Defines the default breakpoint separator.

$breakpoint-separator: \@ !default;

// Defines the root sizing for REM calculation.
// Set in pixels.

$sizing-root: 16px !default;

// Defines the default sizing unit.
// Set in pixels.

$sizing-unit: 8px !default;

// Defines the default sizing factors for sizing utilities.

$sizing-factors: (2, 3, 4, 5, 8) !default;

// Defines the default separator for sizing utilities.

$sizing-separator: \/ !default;

// Defines the default spacing scale.

$spacing-scale: 1.33 !default;

// Defines the default spacing sizes.

$spacing-sizes: (
  $sizing-unit,
  $sizing-unit * math.pow($spacing-scale, 2),
  $sizing-unit * math.pow($spacing-scale, 3),
  $sizing-unit * math.pow($spacing-scale, 4),
  $sizing-unit * math.pow($spacing-scale, 5),
  $sizing-unit * math.pow($spacing-scale, 6),
  $sizing-unit * math.pow($spacing-scale, 7)
) !default;

// Defines the default text size in pixels.

$text-size-normal-base: $sizing-root !default;

// Defines the default text sizing scale.

$text-sizing-scale: 1.2;

// Defines settings for fluid text scaling.
// Set to false to disable.

$sizing-fluid: (
  spacing-scale-min: $spacing-scale,
  spacing-scale-max: 1.5,
  spacing-size-normal-min: $sizing-unit,
  spacing-size-normal-max: $sizing-unit * $spacing-scale,
  text-scale-min: $text-sizing-scale,
  text-scale-max: 1.33,
  text-size-normal-min: $text-size-normal-base,
  text-size-normal-max: $text-size-normal-base * 1.25,
  viewport-min: 480,
  viewport-max: 1600
) !default;

// Defines the default sizes for large text.
// Order from smallest to largest.

$text-sizes-large: (
  $text-size-normal-base * $text-sizing-scale,
  $text-size-normal-base * math.pow($text-sizing-scale, 2),
  $text-size-normal-base * math.pow($text-sizing-scale, 3),
  $text-size-normal-base * math.pow($text-sizing-scale, 4),
  $text-size-normal-base * math.pow($text-sizing-scale, 5),
  $text-size-normal-base * math.pow($text-sizing-scale, 6)
) !default;

// Defines the default sizes for small text.
// Order from largest to smallest.

$text-sizes-small: (
  math.div($text-size-normal-base, $text-sizing-scale),
  math.div(
    $text-size-normal-base,
    math.pow($text-sizing-scale, 2)
  )
) !default;

// Defines the default target line height as a unitless
// value.

$line-height-normal: 1.5 !default;

// Defines the large text line height.

$line-height-large: 1.2 !default;

// Defines the default element separator.

$element-separator: '__' !default;

// Defines the default modifier separator.

$modifier-separator: '--' !default;

// Defines the default ITCSS layer namespaces.

$layer-namespaces: (
  objects: 'o-',
  utilities: 'u-',
  components: 'c-'
) !default;

// Defines custom properties to set in CSS.
// Set to false to disable.

$custom-properties: true !default;
