//
//  Settings - Core
//


@use 'sass:list';
@use 'sass:math';


// Enables responsive framework features.

$responsive: true !default;


// Defines the default breakpoints

$breakpoints: (
  tablet  : "screen and ( min-width: 768px )",
  desktop : "screen and ( min-width: 1000px )"
) !default;


// Defines the default breakpoint separator.

$breakpoint-separator: \@ !default;


// Defines the root sizing for REM calculation.
// Set in pixels.

$sizing-root: 16px !default;


// Defines the default sizing unit.

$sizing-unit: .5rem !default;


// Defines the default sizing factors for sizing utilities.

$sizing-factors: (
  2, 3, 4, 6
) !default;


// Defines the default separator for sizing utilities.

$sizing-separator: \/;


// Defines the default spacing sizes.

$spacing-sizes: (
  small    : $sizing-unit * 2,
  medium   : $sizing-unit * 3,
  large    : $sizing-unit * 4,
  huge     : $sizing-unit * 6,
  gigantic : $sizing-unit * 8
) !default;


// Defines the default text size in pixels.

$text-size-normal: $sizing-root !default;


// Defines the default sizes for large text.
// Order from smallest to largest.

$text-size-scale: 1.2;
$text-size-steps-positive: 6;
$text-size-steps-negative: 2; 

$text-sizes-large: ();

@for $i from 1 through $text-size-steps-positive {
  $text-sizes-large: list.append(
    $text-sizes-large,
    $text-size-normal * math.pow($text-size-scale, $i)
  )
}


// Defines the default sizes for small text.
// Order from largest to smallest.

$text-sizes-small: ();

@for $i from 1 through $text-size-steps-negative {
  $text-sizes-small: list.append(
    $text-sizes-small,
    $text-size-normal / math.pow($text-size-scale, $i)
  )
}


// Defines the default target line height as a unitless 
// value.

$line-height-normal: 1.5 !default;


// Defines the large text line height as a unitless value.

$line-height-large: 1.3 !default;


// Defines the default ITCSS layer namespaces.

$layer-namespaces: (
  objects    : 'o-',
  utilities  : 'u-',
  components : 'c-'
) !default;
