/*
 *  Utilities - Spacing
 */

// Generate responsive spacing utility classes.


@use 'sass:map';
@use 'sass:string';
@use '@substructure/settings';
@use '@substructure/tools';


$directions: () !default;

$directions: map.merge(
  (  
    all        : '',
    vertical   : 'vertical-',
    horizontal : 'horizontal-',
    top        : 'top-',
    bottom     : 'bottom-', 
    left       : 'left-', 
    right      : 'right-'
  ),
  $directions
);

$padding: true !default;

$spacing-sizes: settings.$spacing-sizes !default;

$responsive: settings.$responsive !default;

$breakpoints: settings.$breakpoints !default;

$breakpoint-separator: 
  settings.$breakpoint-separator 
!default;

$namespaces: () !default;

$namespaces: map.merge(
  (
    margin: #{
      map.get( settings.$layer-namespaces, utilities ) +
      'margin-'
    },
    padding: #{
      map.get( settings.$layer-namespaces, utilities ) +
      'padding-'
    }
  ),
  $namespaces
);


@each $direction, $direction-namespace in $directions {

  @each 
    $spacing-size, $spacing-size-value in $spacing-sizes 

  {

    $margin-class: #{
      map.get( $namespaces, margin ) +
      $direction-namespace +
      $spacing-size
    };
    
    .#{
      $margin-class
    } {
      
      @include tools.spacing( 
        $direction, $spacing-size-value 
      )
      
    }
    
    @if $responsive {
      
      @each $breakpoint, $breakpoint-value in $breakpoints {
        
        @include tools.respond-to( 
          $breakpoint, $breakpoints 
        ) {
          
          .#{ 
            $margin-class + 
            $breakpoint-separator + 
            $breakpoint
          } {
          
            @include tools.spacing( 
              $direction, $spacing-size-value 
            )
            
          }
        
        }
        
      }
      
    }

  }

}

@each $direction, $direction-namespace in $directions {

  @each 
    $spacing-size, $spacing-size-value in $spacing-sizes {

    @if $padding == true {

      $padding-class: #{
        map.get( $namespaces, padding ) +
        $direction-namespace + 
        $spacing-size
      };

      .#{$padding-class} {
      
        @include tools.spacing( 
          $direction, $spacing-size-value 
        )
        
      }
      
      @if $responsive {
        
        @each $breakpoint, $breakpoint-value in $breakpoints {
          
          @include tools.respond-to( 
            $breakpoint, $breakpoints 
          ) {
            
            .#{ 
              $padding-class + 
              $breakpoint-separator + 
              $breakpoint
            } {
            
              @include tools.spacing( 
                $direction, $spacing-size-value 
              )
              
            }
          
          }
          
        }
        
      }

    }

  }
    
}
