/*
 *  Generic - Initialize
 */
*,
*:before,
*:after {
  box-sizing: border-box;
  touch-action: manipulation;
}

html,
body,
ul,
ol {
  padding: 0;
}

html,
body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  min-height: 100%;
  text-rendering: optimizespeed;
}

img {
  display: block;
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

img:not([alt]) {
  filter: blur(10px);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}