/*
 *  Elements - Root
 */

// Simple page-level setup to apply default text sizes
// and viewport settings.

@use '@substructure/settings';
@use '@substructure/tools';

:root {
  font-size: settings.$sizing-root;
  min-height: 100%;
  overflow-y: scroll;
}

html {
  @include tools.text-sizing( 
    settings.$text-size-normal 
  )
}
