/*
 *  Utilities - Sizing
 */


@use 'sass:map';
@use 'node_modules/@substructure/settings';
@use 'node_modules/@substructure/tools';


$height: false !default;

$push: true !default;

$pull: true !default;

$responsive: settings.$responsive !default;

$factors: settings.$sizing-factors !default;

$separator: settings.$sizing-separator !default;

$breakpoints: settings.$breakpoints !default;

$breakpoint-separator: 
  settings.$breakpoint-separator 
!default;

$namespaces: (
  width: #{
    map.get( settings.$layer-namespaces, utilities ) + 
    ''
  },
  height: #{
    map.get( settings.$layer-namespaces, utilities ) + 
    'height-'
  },
  push: #{
    map.get( settings.$layer-namespaces, utilities ) + 
    'push-'
  },
  pull: #{
    map.get( settings.$layer-namespaces, utilities ) + 
    'pull-'
  },
) !default;


@mixin sizing( $type ) {

  @each $factor in $factors {

    @for $count from 1 through $factor {

      $fraction-namespace: #{
        $count + $separator + $factor
      };

      $prefix: map.get( $namespaces, $type );
      
      $size-value: $count / $factor * 100%;
      
      @if $type == pull {
        $size-value: $count / $factor * 100% * -1;
      }

      $property: $type; 

      @if $type == push or $type == pull {
        $property: 'margin-left'      
      }

      .#{
        $prefix +
        $fraction-namespace
      } {

        #{$property}: $size-value;
      
      }

      @if $responsive == true {

        @each $breakpoint in $breakpoints {

          @include tools.respond-to( $breakpoint ) {

            .#{
              map-get( $namespaces, width ) +
              $fraction-namespace +
              $breakpoint-separator +
              $breakpoint
            } {
        
              #{$property}: $size-value;
            
            }

          }

        }

      }

    }

  }

}

@include sizing( width );

@if ( $height == true ) {
  @include sizing( height );
}

@if ( $push == true ) {
  @include sizing( push );
}

@if ( $pull == true ) {
  @include sizing( pull );
}
