/*
 *  Utilities - Sizing
 */

@use 'sass:map';
@use 'sass:math';
@use '../settings';
@use '../tools';

$height: true !default;

$push: true !default;

$pull: true !default;

$responsive: settings.$responsive !default;

$factors: settings.$sizing-factors !default;

$separator: settings.$sizing-separator !default;

$breakpoints: settings.$breakpoints !default;

$breakpoint-separator: settings.$breakpoint-separator !default;

$namespaces: () !default;

$namespaces: map.merge(
  (
    width: #{map.get(settings.$layer-namespaces, utilities) +
      ''},
    height: #{map.get(settings.$layer-namespaces, utilities) +
      'height-'},
    push: #{map.get(settings.$layer-namespaces, utilities) +
      'push-'},
    pull: #{map.get(settings.$layer-namespaces, utilities) +
      'pull-'}
  ),
  $namespaces
);

@if ($height == true) {
  @include tools.sizing(
    height,
    $height,
    $push,
    $pull,
    $responsive,
    $factors,
    $separator,
    $breakpoints,
    $breakpoint-separator,
    $namespaces
  );
}

@if ($push == true) {
  @include tools.sizing(
    push,
    $height,
    $push,
    $pull,
    $responsive,
    $factors,
    $separator,
    $breakpoints,
    $breakpoint-separator,
    $namespaces
  );
}

@if ($pull == true) {
  @include tools.sizing(
    pull,
    $height,
    $push,
    $pull,
    $responsive,
    $factors,
    $separator,
    $breakpoints,
    $breakpoint-separator,
    $namespaces
  );
}
