/*
 *  Utilities - Sizing
 */
.u-width-fill {
  width: 100%;
}

.u-width-1\/2 {
  width: 50% !important;
}

.u-width-1\/3 {
  width: 33.3333% !important;
}

.u-width-2\/3 {
  width: 66.6667% !important;
}

.u-width-1\/4 {
  width: 25% !important;
}

.u-width-2\/4 {
  width: 50% !important;
}

.u-width-3\/4 {
  width: 75% !important;
}

.u-width-1\/5 {
  width: 20% !important;
}

.u-width-2\/5 {
  width: 40% !important;
}

.u-width-3\/5 {
  width: 60% !important;
}

.u-width-4\/5 {
  width: 80% !important;
}

.u-width-1\/8 {
  width: 12.5% !important;
}

.u-width-2\/8 {
  width: 25% !important;
}

.u-width-3\/8 {
  width: 37.5% !important;
}

.u-width-4\/8 {
  width: 50% !important;
}

.u-width-5\/8 {
  width: 62.5% !important;
}

.u-width-6\/8 {
  width: 75% !important;
}

.u-width-7\/8 {
  width: 87.5% !important;
}

.u-height-fill {
  height: 100%;
}

.u-height-1\/2 {
  height: 50% !important;
}

.u-height-1\/3 {
  height: 33.3333% !important;
}

.u-height-2\/3 {
  height: 66.6667% !important;
}

.u-height-1\/4 {
  height: 25% !important;
}

.u-height-2\/4 {
  height: 50% !important;
}

.u-height-3\/4 {
  height: 75% !important;
}

.u-height-1\/5 {
  height: 20% !important;
}

.u-height-2\/5 {
  height: 40% !important;
}

.u-height-3\/5 {
  height: 60% !important;
}

.u-height-4\/5 {
  height: 80% !important;
}

.u-height-1\/8 {
  height: 12.5% !important;
}

.u-height-2\/8 {
  height: 25% !important;
}

.u-height-3\/8 {
  height: 37.5% !important;
}

.u-height-4\/8 {
  height: 50% !important;
}

.u-height-5\/8 {
  height: 62.5% !important;
}

.u-height-6\/8 {
  height: 75% !important;
}

.u-height-7\/8 {
  height: 87.5% !important;
}

.u-push-1\/2 {
  margin-left: 50% !important;
}

.u-push-1\/3 {
  margin-left: 33.3333% !important;
}

.u-push-2\/3 {
  margin-left: 66.6667% !important;
}

.u-push-1\/4 {
  margin-left: 25% !important;
}

.u-push-2\/4 {
  margin-left: 50% !important;
}

.u-push-3\/4 {
  margin-left: 75% !important;
}

.u-push-1\/5 {
  margin-left: 20% !important;
}

.u-push-2\/5 {
  margin-left: 40% !important;
}

.u-push-3\/5 {
  margin-left: 60% !important;
}

.u-push-4\/5 {
  margin-left: 80% !important;
}

.u-push-1\/8 {
  margin-left: 12.5% !important;
}

.u-push-2\/8 {
  margin-left: 25% !important;
}

.u-push-3\/8 {
  margin-left: 37.5% !important;
}

.u-push-4\/8 {
  margin-left: 50% !important;
}

.u-push-5\/8 {
  margin-left: 62.5% !important;
}

.u-push-6\/8 {
  margin-left: 75% !important;
}

.u-push-7\/8 {
  margin-left: 87.5% !important;
}

.u-pull-1\/2 {
  margin-left: -50% !important;
}

.u-pull-1\/3 {
  margin-left: -33.3333% !important;
}

.u-pull-2\/3 {
  margin-left: -66.6667% !important;
}

.u-pull-1\/4 {
  margin-left: -25% !important;
}

.u-pull-2\/4 {
  margin-left: -50% !important;
}

.u-pull-3\/4 {
  margin-left: -75% !important;
}

.u-pull-1\/5 {
  margin-left: -20% !important;
}

.u-pull-2\/5 {
  margin-left: -40% !important;
}

.u-pull-3\/5 {
  margin-left: -60% !important;
}

.u-pull-4\/5 {
  margin-left: -80% !important;
}

.u-pull-1\/8 {
  margin-left: -12.5% !important;
}

.u-pull-2\/8 {
  margin-left: -25% !important;
}

.u-pull-3\/8 {
  margin-left: -37.5% !important;
}

.u-pull-4\/8 {
  margin-left: -50% !important;
}

.u-pull-5\/8 {
  margin-left: -62.5% !important;
}

.u-pull-6\/8 {
  margin-left: -75% !important;
}

.u-pull-7\/8 {
  margin-left: -87.5% !important;
}