/*
 *  Elements - Text
 */

// Text elements based on core settings.

@use 'sass:list';
@use '../settings';
@use '../tools';

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;

  @if settings.$custom-properties != false {
    line-height: var(--line-height-large);
  } @else {
    line-height: settings.$line-height-large;
  }

  @include tools.spacing(
    bottom,
    list.nth(settings.$spacing-sizes, 1),
    margin
  );

}

@for $i from 6 through 1 {
  h#{$i} {
    @if settings.$custom-properties != false {
      font-size: var(--text-size-large-#{6 + 1 - $i}-base);
    } @else {
      font-size: list.nth(
        settings.$text-sizes-large,
        6 + 1 - $i
      );
    }

    @if settings.$sizing-fluid !=false {
      @if settings.$custom-properties != false {
        font-size: var(--text-size-large-#{6 + 1 - $i});
      } @else {
        font-size: list.nth(
          settings.$text-sizes-large-fluid,
          6 + 1 - $i
        );
      }
    }
  }
}

small {
  @if settings.$custom-properties != false {
    font-size: var(--text-size-small-1-base);
    line-height: var(--line-height-normal);
  } @else {
    font-size: list.nth(settings.$text-sizes-small, 1);
    line-height: settings.$line-height-normal;
  }

  @if settings.$sizing-fluid !=false {
    @if settings.$custom-properties != false {
      font-size: var(--text-size-small-1);
    } @else {
      font-size: list.nth(
        settings.$text-sizes-small-fluid,
        1
      );
    }
    font-size: list.nth(
      settings.$text-sizes-small-fluid,
      1
    );
  }
}
