//
//  Tools - Text Sizing
//


@use 'node_modules/@substructure/settings';
@use 'core';


@mixin text-sizing ( 
  $size-value,
  $target-line-height: settings.$line-height-normal
) {
  
  font-size: core.calculate-rem( $size-value );
  line-height: core.line-height(
    $size-value, 
    $target-line-height 
  );
  
}
