//
//  Tools - Text Sizing
//

// Mixin to generate REM-based text sizes with vertical 
// rhythm based on the sizing units.


@use '@substructure/settings';
@use 'core';


@mixin text-sizing ( 
  $size-value,
  $target-line-height: settings.$line-height-normal,
  $sizing-unit: settings.$sizing-unit
) {
  
  font-size: core.calculate-rem( $size-value );
  line-height: core.line-height(
    $size-value, 
    $target-line-height,
    $sizing-unit
  );
  
}
